.contactForm {
  display: flex;
  flex-direction: column;
  padding: 50px 50px;
}

input,
textarea {
  border: 0;
  border-bottom: 2px solid #ddd;
  margin-bottom: 30px;
  padding-bottom: 10px;
  font-family: $baseFont;
  font-size: 1.5rem;
  text-transform: uppercase;
  transition: 0.3s;
  
  &::placeholder {
    opacity: 1;
  }
  
  &:hover,
  &:focus {
    border-color: $accentColor;
  }
}

textarea {
  border-right: 1px solid #ddd;
  border-left: 1px solid #ddd;
}

.button {
  border: 2px solid $accentColor;
  font-size: 1.5rem;
  font-weight: bold;
  padding: 15px 30px;
  color: $accentColor;
  transition: 0.3s;

  &:hover,
  &:focus {
    background-color: $accentColor;
    color: $solidWhite;
  }
}