header {
  background-image: url(../assets/hero-image.jpg);
  background-size: cover;
  background-position: center 90%;
  height: 90vh;
  color: $solidWhite;
  padding-top: 20px;
}

header nav .wrapper {
  display: flex;
  justify-content: space-between;
}

.logo {
  width: 100px;
}

header nav ul {
  display: flex;
  margin-right: 20px;
}

header nav li {
  margin-top: 20px;

  &:not(:last-child) {
    margin-right: 20px;
  }

}

img {
  width: 100%;
  display: block;
}

header a {
  display: inline-block;
  color: $solidWhite;
  text-decoration-color: transparent;
  transition: 0.3s;
  animation: underline;
}

a:hover,
a:focus {
  cursor: pointer;
  transform: scale(1.2);
  text-decoration: underline;
  text-decoration-color: #000;
  text-decoration-thickness: 1.5px;
}

.title {
  margin-top: 250px;
}
.title h1,
.title h2 {
  text-align: center;
  padding: 0;
}