.projects {
  display: flex;
  justify-content: center;
  
  .probox {
    display: flex;
    flex-direction: column;
    background-color: $secondaryColor;
    text-align: center;
    border-radius: 10%;
    margin: 0 20px;
  
    img {
      justify-content: center;
      width: 350px;
      height: 250px;
      border-radius: 10%;
      margin: 15px auto;
    }

    h3,
    p {
      margin: 10px;
      width: 400px;
    }
  }
  
}
