.projects {
  display: flex;
  justify-content: space-between;
  
  .probox {
    text-align: center;
  
    img {
      width: 350px;
      height: 200px;
    }

    h3,
    p {
      padding: 10px 0;
    }
  }
  
}
