// fonts

$logoFont: 'Roboto Condensed', sans-serif; 
$nameFont: 'Pacifico', cursive;
$baseFont: 'Recursive', sans-serif;

// colors

$iconColor: salmon;
$secondaryColor: #F7B4AD;
// $tertiaryColor: 
// $quaternary: 
$accentColor: #A83B72;

$solidWhite: #fff;